* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --textColor: rgb(164, 56, 188);
  --textColorWhite: rgb(251, 246, 246);
}

/* Sets the background color of the page*/
body {
  background-color: #d9dcd6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: rgb(58, 55, 62);
}

/* Sets The font padding and color of the header bar */
.header {
  padding-block: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  margin-inline: 5%;
}

.footer {
  color: white;
}

main {
  height: 1000px;


  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 300px;
  display: flex;
  border-style: dashed;
  border-width: 2px;
  border-color: var(--textColorWhite);
  

  margin: 20px;
  width: 30%;
  margin: auto;

  text-align: justify;
  margin-top: -20px;
}

.card h1{
    position: relative;
    border-style: solid;
    border-color: var(--textColorWhite);
    border-width: 2px;
    border-radius: 5px;
    color: var(--textColor);

    width: 90%;
    height:min-content;
    margin-inline: 5%;
    

}

.card .descrip{

}

.card .text-code{

}

#xl {
  height: 40%;
}
