* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /* Sets the background color of the page*/
  body {
    background-color: #d9dcd6;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-align: center;
    background-color: rgb(35, 7, 61);
  }
  
  /* Sets The font padding and color of the header bar */
  .header {
    padding-block: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-inline: 5%;
  }

  .footer{
    color: white;
  }